h2 {
  margin: 0;
}
.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 10px;
  display: flex;
  align-items: center;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 10px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;

    &:hover {
      opacity: 1;
    }
  }
}